<div ng-controller="WelcomeCtrl">
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="#/welcome">Home</a>
                <a class="blog-nav-item" href="#/me">Me</a>
                <a class="blog-nav-item" href="#/addPost">Add Post</a>
                <a class="blog-nav-item" style="cursor:pointer;" ng-click="logout();">Logout</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>AngularJS & Firebase App</h1>
        </div>
        <p class="lead">Welcome home {{username}}</p>
        <div class="list-group" ng-repeat="article in articles">
            <div class="list-group-item active">
                <h4 class="list-group-item-heading">{{article.title}}</h4>
                <p class="list-group-item-text">{{article.post}}</p>
                <p class="list-group-item-text article-user"><small>{{article.username}}</small></p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted"></p>
        </div>
    </footer>
</div>
